# Fichiers spécifiques à l'environnement
.env
.venv/

# Fichiers de cache et temporaires
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers spécifiques à Streamlit


# Secrets et informations sensibles
.streamlit/secrets.toml

# Autres fichiers temporaires ou générés
*.log
*.tmp